# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here

# Database Configuration (Individual Parameters)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=gatekeeper_db
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password_here

# OR use a single Connection String
# DATABASE_URL=postgresql://user:password@localhost:5432/database_name

# AI Endpoint Configuration (e.g., local Ollama instance)
AI_ENDPOINT=http://localhost:11434


#GUILD IDS
GUILD_ID=your_guild_id_here
INTRODUCTION_CHANNEL_ID=your_introduction_channel_id_here
GIVEAWAY_CHANNEL_ID=your_giveaway_channel_id_here
LOG_CHANNEL_ID=your_private_log_channel_id_here
